body {
  width: 100%;
  height: 2000px;
  margin: 0;
  padding: 0;
  background: linear-gradient(to top left, #004d4d 60%, #00b3b3 90%);
}
	
div#border {
  width: 100%;
    height: 100%;
    padding: 40px;
    border: 20px double white;
}

div#Forward{
  left: 220px;
  top: 100px;
  position: absolute;
}
div#Reverse{
  left: 220px;
  top: 290px;
  position: absolute;
}
div#GmitLogo{
  left: 1465px;
  top: 40px;
  border:3px solid white;
  position: absolute;
}
div#Left{
  left: 100px;
  top: 190px;
  position: absolute;
}
div#Right{
  left: 340px;
  top: 190px;
  position: absolute;
}
div#capVideo{
  width: 200px;
  left: 530px;
  top: 240px;
  position: absolute;
}
div#stream{
  width: 200px;
  left: 715px;
  top: 100px;
  position: absolute;
}

div#streamTitle{
  width: 300px;
  left: 920px;
  color: white;
  top: 25px; 
  text-decoration: underline;
  position: absolute;  
}
div#ControlTitle{
  width: 300px;
  left: 145px;
  top: 25px;
  color: white;
  text-decoration: underline;
  position: absolute;
}
div#WebCapture{
  width: 400px;
  left: 1080px;
  top: 1480px;
  color: white;
  text-decoration: underline;
  position: absolute;
}
div#WebVideoCapture{
  width: 500px;
  left: 230px;
  top: 1480px;
  color: white;
  text-decoration: underline;
  position: absolute;
}
div#capImage{
  left: 530px;
  top: 290px;
  position: absolute;
}
div#ImagePanel1{
  left: 150px;
  top: 690px;
  position: absolute;
}

div#ImagePanel2{
  left:1000px;
  top: 1550px;
  position: absolute;
}

div#ImagePanel3{
  left: 200px;
  top:  1550px;
  position: absolute;
}

div#CapturedImages{
  width: 400px;
  left: 650px;
  top: 600px;
  color: white;
text-decoration: underline;
  position: absolute;
}